{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
    <p>visits: {{ visits }}</p>
    <h1>Rango says</h1>
    {% if user.is_authenticated %}
        howdy {{ user.username }}
    {% else %}
        hey there partner!
    {% endif %}
    
    <p>
    <h2>Most Liked Categories</h2>
    {% if categories %}
    <ul>
        {% for category in categories %}
        <li><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no categories to show.</strong>
    {% endif %}

    <p>
    <h2>Top Pages</h2>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no pages to show.</strong>
    {% endif %}

    <img src="{% static "images/rango.jpg" %}" alt="Rango" />
{% endblock %}